table{

  font-size: 1.3vw;

  th , td{
    text-align: center;
    padding: .4vw;
  }
}

.list_Modal{
  .fog{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 400vh;
    overflow: hidden;
  } 

  .list_container{
  position: relative;
  width:100%;
  height:100vh;
  
  .list_content{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 50vh;
    background: #f0f0f0;
    padding: 2vw;
    overflow: scroll;

  }
  }
}