.newOrder_Modal{
  .fog{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 400vh;
    overflow: hidden;
  } 

  .newOrder_container{
  position: relative;
  width:100%;
  height:100vh;
  text-align: center;
  
  .newOrder_content{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 50vh;
    background: #f0f0f0;
    padding: 2vw;

    .title{
    font-size:2.5vw;
    text-align:center;
    color: #ebc53fd6;
    }

    .newOrder_data{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 30vh;
    position: absolute;
    }
  }
  }
}