.aboutContent{
  padding:2vw;
  text-align:center;
}

.aboutTitle{
  font-size: 3vw;
}

.aboutDescription{
  font-size: 1.6vw;
  width:70vw;
  margin: 2vw auto;
}

.catchPhrase{
  color: #ebc53fd6;
  font-size:5vw;
  font-family: 'Pacifico', cursive;
}