.actionButton{
  left: 0;
  position: absolute;
  bottom: 10vh;
  right: 0;
  
  .button{
    width:20vw;
    height:4vw;
    background: #f80002;
    margin: 0 auto;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.65) 7px 7px 11px 3px;
    -moz-box-shadow:  rgba(0, 0, 0, 0.65) 7px 7px 11px 3px;
    box-shadow:  rgba(0, 0, 0, 0.65) 7px 7px 11px 3px;
    text-align: center;
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-size:1.5vw;
    color: #f2eeee;
    padding: 1.2vw;
    box-sizing: border-box;
    cursor: pointer;
  }

}