.menuCarousel{
  height: 80vh;
  position: relative;
  margin: auto;
  bottom: 0;
  top:0;
  right:0;
  left:0;
}

.carouselItem{
  width:100%;
  height: 80vh;
  color:#000;
  display:grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap:.5vw;
  padding: 0vw 7vw;
  
  .carouselItem--left{
    text-align: justify;
    
    .productTitle{
        font-size: 3vw;

        .productFlavor{
          text-transform: capitalize;
          text-decoration: underline;
        }
    }

   .productData{
      height: 20vw;
      margin: 2vw 0;
      width: 30vw;
      display: grid;
      grid-template-rows: 2fr 1fr;

      .productDescription{
        font-size:1.3vw;
       
      }
      .nutritionalInfo{
        width: 100%;
        display: flex;

        .nutritionalInfo_item{
          flex: 1;
          text-align: center;
          border: solid 2px #ebc53fd6;
          margin: 0 .3vw;
          display: grid;
          grid-template-rows: 2fr 1fr;
          padding: .3vw;
          font-size: 1.3vw;
          border-radius: .3vw;
          transition-duration: 300ms;
        }

        .nutritionalInfo_item:hover{
          background: #fff;
          transition-duration: 300ms;
        }
      }  
    } 
  }
  .carouselItem--right{
    height: 100%;
    margin: 0 auto;
    img{
      height: 80vh;
      
    } 
  }
}

.carousel-root{
  margin: 0 auto;
}