.formContact{
  margin: 0 auto;
  width: 40%;
  height: 60vh;
  display: grid;
  grid-gap: .5vw;
  grid-template-rows: 10vh 10vh 30vh 10vh;

  .formItem{
    display: grid;
    width: 100%;
    text-align:left;

    label{
      height:1vh;
    }

    textarea{
      height:22vh;
      resize: none;
    }
  }
}