.header{
  position: fixed;
  width: 100vw;
  height: 5vw;
  padding: 1.7vw;
  box-sizing: border-box;
  z-index: 100;
  
  .headerContent{
    display: flex;
    width: 50vw;
    height: 5vw;
    margin: 0 auto;
    position: relative;

    
    .headerContent__item{
      flex: 1;
      text-align: center;
      font-family: alternate-gothic-no-1-d, sans-serif;
      padding: 1.8vw;
      box-sizing: border-box;
      transition-duration: 300ms;
      cursor: pointer;
      
      a{ 
        color: #000;
        text-decoration: none;

      }

      .image{
        height: 100%;
        top: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .headerContent__item:hover, .headerContent__list:hover{
        text-decoration: underline;
        transition-duration: 300ms;
      }

   
  }
}


    .headerContent__list{
    text-align: center;
    top: 3vw;
    position: absolute;
    right: 4vw;
    font-family: alternate-gothic-no-1-d, sans-serif;
    padding: .2vw 2vw;
    border: black solid 1px;
    box-sizing: border-box;
    transition-duration: 300ms;
    cursor: pointer;
    }