.home{
  .homeContent{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 15vw;
    width: 100%;
    background: #ebc53fd6;
    margin: auto;
    font-family: alternate-gothic-no-1-d, sans-serif;

    .homeContent--left, .homeContent--center, .homeContent--right{
      flex: 1;
    }

    .homeContent--left, .homeContent--right{
      text-align: center;
      display: flex;
      flex-direction: column;
      padding:3vw;

      div{
        flex: 1;
      }
    }

    .homeContent--center{
      position: relative;
      .image{
        height: 31vw;
        margin-top: -9vw;
      }
    }
  }
}