$text--extraLarge: 1.5vw;
$text--large: 1.25vw;
$text--medium: 1vw;
$text--small: .75vw;
$text--extraSmall: .5vw;

.fog{
  background: #0000008f;
  z-index: 150;
}
*{
  font-family: alternate-gothic-no-1-d, sans-serif;
}

#root{
  background: #f0f0f0;
}

.home, .about, .menu, .contact{
  position: relative;
  height: 100vh;
  padding: 20vh 0 0 0;
  box-sizing:border-box;
}

.text--medium{
  font-size:1.3vw;
}

